<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              
            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />
                  <span>
                    Iniciar sesión con Google
                  </span>
                </div>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100 d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/facebook-icon.svg" alt="facebook" width="40" class="m-r-4" />
                  Iniciar sesión con Facebook
                </div>
              </button>
            </div>
          </div>

          <div class="or-border m-t-30">o inicia sesión con</div>

          <form class="m-t-30" [formGroup]="form">
            <!-- Email -->
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Correo electrónico</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="uname" placeholder="Ingresa tu correo electrónico" />
              <mat-error *ngIf="form.get('uname')?.hasError('required')">
                El correo es obligatorio
              </mat-error>
              <mat-error *ngIf="form.get('uname')?.hasError('minlength')">
                El correo debe tener al menos 6 caracteres
              </mat-error>
            </mat-form-field>
          
            <!-- Password -->
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" placeholder="Ingresa tu contraseña" />
              <mat-error *ngIf="form.get('password')?.hasError('required')">
                La contraseña es obligatoria
              </mat-error>
            </mat-form-field>
          
            <!-- Remember device and forgot password -->
            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Recordar este dispositivo</mat-checkbox>
              <a [routerLink]="['/']" class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">
                ¿Olvidaste tu contraseña?
              </a>
            </div>

            <!-- reCAPTCHA -->
            <div class="m-b-12">
              <re-captcha
                siteKey="6Le0DEMrAAAAADCwBHHYdoK1tBv0Q4jw45dnKdl5"
                (resolved)="onCaptchaResolved($event)">
              </re-captcha>
            </div>

            <!-- Submit button -->
            <button mat-flat-button color="primary" class="w-100" (click)="submit()" [disabled]="form.invalid">
              Iniciar sesión
            </button>
          </form>

          <!-- input -->
          <span class="d-block f-w-500 text-center m-t-24">¿Nuevo?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Crea una cuenta</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
